<div class="container-fluid">
  
        <div class="row">
        <div class="col-lg-12">
          <div class="view-header">
           
            <div class="header-icon">
              <i class="pe page-header-icon pe-7s-gleam"></i>
            </div>
            <div class="header-title">
              <h3>Dispute for item: {{item.address}}</h3>
              <small>{{'PURCHASES.SUBTITLE' | translate}}</small>
            </div>
          </div>
          <hr>
        </div>
      </div>
  
  </div>