.viewed {
    background-color: rgb(60, 62, 71);
    padding: 10px;
    overflow: hidden;
    height: 296px;
    padding-left: 0px;
    padding-right: 0px;
    h2 {
        /* text-align: center; */
        font-size: 16px;
        margin-top: -10px;
        background-color: #24262d;
        width: 100%;
        padding: 14px;
        /* height: 20px; */
    }
    .item {
        width: 24.5%;
        padding: 5px;
        position: relative;
        margin-left: 0.25%;
        margin-right: 0.25%;
        display: inline-block;
        cursor: pointer;
    }
    .image-container img {
        width: 100%;
    }


    .name {
        position: absolute;
        left: 0px;
        /* top: 1px; */
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: rgba(0, 0, 0, 0.6);
        color: #ececed;
        bottom: 30%;
        /* height: 30px; */
        /* top: calc(40% - 30px); */
        text-align: center;
        /* vertical-align: middle; */
        text-transform: uppercase;
        width: calc(100% - 10px);
        /* min-height: 50px; */
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
