<div class="viewed">
  <h2>{{'COMMON.SUGGEST' | translate}}</h2>
  <div class="item" *ngFor="let item of suggested" [routerLink]="item.address ? ['/buy/single-item/'+item.address]: ['/buy/single-item/'+item.hashIpfs]">
      <div class="image-container">

          <div class="centeredBackgroundImage img-responsive item-pic" *ngIf="item?.img?.length!=0 && item?.img[0]!=''" [ngStyle]="{'background-image': 'url(' + item.img[0] + ')'}"
                style="margin: auto;
                width: 100%;
                height: 240px;
                background-color: #24262d;
                " ></div>
          <img class="centeredBackgroundImage img-responsive item-pic" src="assets/images/noimage.jpeg" *ngIf="item?.img?.length==0 || item?.img[0]==''"/>
      </div>
      <div class="name" title="{{item.title}}">{{item.title}}</div>
      <code>{{item.priceEth | number: '1.5'}} ETH</code>
      <span class="category">{{'CATEGORIES.'+item.cat[0] | translate}}</span>
  </div>
</div>
