
  <div class="container-fluid">
    
        <div class="row">
          <div class="col-lg-12">
            <div class="view-header">
              
              <div class="header-icon">
                <i class="pe page-header-icon pe-7s-pen"></i>
              </div>
              <div class="header-title">
                <h3>{{'PENDING.UPDATE' | translate}}: {{data.title}}</h3>
                <small>{{'PENDING.SUBTITLE' | translate}}</small>
              </div>
            </div>
            <hr>
          </div>
        </div>
        
        <div ng-hide="listingStatus">
          <div ng-show="loggedinStatus.loggedin">
          
          <div class="row">
            <div class="col-lg-12">
              <div class="panel">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                  <form name="item_basics" novalidate>
                    <div class="form-group">
                      <label for="itemTitle">
                        <span>{{'LIST_NEW_ITEM.ITEM_TITLE' | translate}}</span>
                      </label>
                      <input type="text" [(ngModel)]="data.title" (blur)="inputChange('title', data.title)" (ngModelChange)="inputChange('title', $event)" required class="form-control" name="itemTitle" id="itemTitle" placeholder="{{ 'COMMON.REQUIRED' | translate }}">
                    </div>
                    <div class="error-block" *ngIf="required.title" ng-messages="item_basics.itemTitle.$error" ng-if="item_basics.itemTitle.$touched">
                      <p ng-message="required">{{'ERROR.TITLE_REQUIRED' | translate}}</p>
                    </div>     
      
                    <div class=form-group>
                      <label for="itemDescription">
                        <span>{{'LIST_NEW_ITEM.ITEM_DESCRIPTION' | translate}}</span>
                      </label>
                      <textarea class="form-control"  [(ngModel)]="data.description" (blur)="inputChange('description', data.description)" (ngModelChange)="inputChange('description', $event)" name="itemDescription" required ng-model="item.description" rows="3" placeholder="{{ 'COMMON.REQUIRED' | translate }}"></textarea>
                    </div>
                    <div class="error-block" *ngIf="required.description"  ng-messages="item_basics.itemDescription.$error" ng-if="item_basics.itemDescription.$touched">
                      <p ng-message="required">{{'ERROR.DESCRIPTION_REQUIRED' | translate}}</p>
                    </div>                              
      
                    <div class="form-group">
                      <label for="imageURLmain">
                        <span>{{'LIST_NEW_ITEM.MAIN_IMAGE_URL' | translate}}</span>
                      </label>
                      <input type="text" [ngModelOptions]="{standalone: true}" class="form-control" [(ngModel)]="data.img[0]"  placeholder="{{ 'COMMON.OPTIONAL' | translate }}">
                    </div>
                    <div class="error-block" *ngIf="!checkHttp(data.img[0])" >
                      <p ng-message="required">{{'ERROR.INVALID_HTTP' | translate}}</p>
                    </div>                           
                  </form>
                </div>
              </div>
            </div>
          </div>        
      
          <div class="row" [hidden]="data.img[0]=='' || !checkHttp(data.img[0])">
            <div class="col-lg-12">
              <div class="panel panel-filled" [class.collapsed]="!visual.images">
                <div class="panel-heading" (click)="visual.images = !visual.images">
                  <div class="panel-tools">
                    <a class="panel-toggle"><i class="fa" [class.fa-chevron-up]="visual.images" [class.fa-chevron-down]="!visual.images"></i></a>
                  </div>
                  <span>{{'LIST_NEW_ITEM.ADDITIONAL_IMAGE_URLS' | translate}}</span>
                </div>
                <div class="panel-body">
                  <form name="item_urls" novalidate>
      
                    <div class="form-group">
                      <label for="imageURL1">
                        <span>{{'LIST_NEW_ITEM.ADDITIONAL_URL' | translate}}</span>
                      </label>
                      <input type="text" class="form-control" name="imageURL1" [(ngModel)]="data.img[1]" placeholder="{{ 'COMMON.OPTIONAL' | translate }}">
                    </div>  
                    <div class="error-block" *ngIf="!checkHttp(data.img[1])" >
                      <p ng-message="required">{{'ERROR.INVALID_HTTP' | translate}}</p>
                    </div>  
      
                    <div class="form-group" [hidden]="data.img[1]=='' || !checkHttp(data.img[1])">
                      <label for="imageURL2">
                        <span>{{'LIST_NEW_ITEM.ADDITIONAL_URL' | translate}}</span>
                      </label>
                      <input type="text" class="form-control" name = "imageURL2" [(ngModel)]="data.img[2]"  placeholder="{{ 'COMMON.OPTIONAL' | translate }}">
                    </div>  
                    <div class="error-block" *ngIf="!checkHttp(data.img[2])" [hidden]="data.img[1]=='' || !checkHttp(data.img[1])">
                      <p ng-message="required">{{'ERROR.INVALID_HTTP' | translate}}</p>
                    </div>  
      
                    <div class="form-group" [hidden]="data.img[2]=='' || !checkHttp(data.img[2])">
                      <label for="imageURL3">
                        <span>{{'LIST_NEW_ITEM.ADDITIONAL_URL' | translate}}</span>
                      </label>
                      <input type="text" class="form-control" name="imageURL3" [(ngModel)]="data.img[3]"  placeholder="{{ 'COMMON.OPTIONAL' | translate }}">
                    </div>  
                    <div class="error-block" *ngIf="!checkHttp(data.img[3])" [hidden]="data.img[2]=='' || !checkHttp(data.img[2])">
                      <p ng-message="required">{{'ERROR.INVALID_HTTP' | translate}}</p>
                    </div>  
      
                  </form>                       
                </div>
              </div>
            </div>
          </div>
      
          <div class="row">
            <div class="col-md-6">
              <div class="panel">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                  <form name="item_details" novalidate>
                    <div class=form-group>
                      <label>
                        <span>{{'LIST_NEW_ITEM.CATEGORY' | translate}}</span>
                      </label>
                      <select id="catObjectSelect" ng-model="item.category" name="catObjectSelect" class="form-control" (change)="selectChange($event)">
                        <option value="ANTIQUE" (selected)="item.cat[0]=='ANTIQUE'" >{{ 'CATEGORIES.ANTIQUE' | translate }}</option>
                        <option value="ART" (selected)="item.cat[0]=='ART'" >{{ 'CATEGORIES.ART' | translate }}</option>
                        <option value="BABY" (selected)="item.cat[0]=='BABY'" >{{ 'CATEGORIES.BABY' | translate }}</option>
                        <option value="BOOK" (selected)="item.cat[0]=='BOOK'" >{{ 'CATEGORIES.BOOK' | translate }}</option>
                        <option value="BUSINESS" (selected)="item.cat[0]=='BUSINESS'" >{{ 'CATEGORIES.BUSINESS' | translate }}</option>
                        <option value="INDUSTRY" (selected)="item.cat[0]=='INDUSTRY'" >{{ 'CATEGORIES.INDUSTRY' | translate }}</option>
                        <option value="CAMERA" (selected)="item.cat[0]=='CAMERA'" >{{ 'CATEGORIES.CAMERA' | translate }}</option>
                        <option value="CELL" (selected)="item.cat[0]=='CELL'" >{{ 'CATEGORIES.CELL' | translate }}</option>
                        <option value="CLOTHING" (selected)="item.cat[0]=='CLOTHING'" >{{ 'CATEGORIES.CLOTHING' | translate }}</option>
                        <option value="COIN" (selected)="item.cat[0]=='COIN'" >{{ 'CATEGORIES.COIN' | translate }}</option>
                        <option value="COLLECT" (selected)="item.cat[0]=='COLLECT'" >{{ 'CATEGORIES.COLLECT' | translate }}</option>
                        <option value="COMPUTER" (selected)="item.cat[0]=='COMPUTER'" >{{ 'CATEGORIES.COMPUTER' | translate }}</option>
                        <option value="CONSUME" (selected)="item.cat[0]=='CONSUME'" >{{ 'CATEGORIES.CONSUME' | translate }}</option>
                        <option value="ELECTRON" (selected)="item.cat[0]=='ELECTRON'" >{{ 'CATEGORIES.ELECTRON' | translate }}</option>
                        <option value="CRAFT" (selected)="item.cat[0]=='CRAFT'" >{{ 'CATEGORIES.CRAFT' | translate }}</option>
                        <option value="DOLL" (selected)="item.cat[0]=='DOLL'" >{{ 'CATEGORIES.DOLL' | translate }}</option>
                        <option value="DVD" (selected)="item.cat[0]=='DVD'" >{{ 'CATEGORIES.DVD' | translate }}</option>
                        <option value="ENTERTAIN" (selected)="item.cat[0]=='ENTERTAIN'" >{{ 'CATEGORIES.ENTERTAIN' | translate }}</option>
                        <option value="OTHER" (selected)="item.cat[0]=='OTHER'" >{{ 'CATEGORIES.OTHER' | translate }}</option>
                        <option value="FOOD" (selected)="item.cat[0]=='FOOD'" >{{ 'CATEGORIES.FOOD' | translate }}</option>
                        <option value="CARD" (selected)="item.cat[0]=='CARD'" >{{ 'CATEGORIES.CARD' | translate }}</option>
                        <option value="HEALTH" (selected)="item.cat[0]=='HEALTH'" >{{ 'CATEGORIES.HEALTH' | translate }}</option>
                        <option value="HOME" (selected)="item.cat[0]=='HOME'" >{{ 'CATEGORIES.HOME' | translate }}</option>
                        <option value="JEWELRY" (selected)="item.cat[0]=='JEWELRY'" >{{ 'CATEGORIES.JEWELRY' | translate }}</option>
                        <option value="MUSIC" (selected)="item.cat[0]=='MUSIC'" >{{ 'CATEGORIES.MUSIC' | translate }}</option>
                        <option value="INSTRUMENT" (selected)="item.cat[0]=='INSTRUMENT'" >{{ 'CATEGORIES.INSTRUMENT' | translate }}</option>
                        <option value="NETWORK" (selected)="item.cat[0]=='NETWORK'" >{{ 'CATEGORIES.NETWORK' | translate }}</option>
                        <option value="PET" (selected)="item.cat[0]=='PET'" >{{ 'CATEGORIES.PET' | translate }}</option>
                        <option value="POTTERY" (selected)="item.cat[0]=='POTTERY'" >{{ 'CATEGORIES.POTTERY' | translate }}</option>
                        <option value="REAL_ESTATE" (selected)="item.cat[0]=='REAL_ESTATE'" >{{ 'CATEGORIES.REAL_ESTATE' | translate }}</option>
                        <option value="DEFENSE" (selected)="item.cat[0]=='DEFENSE'" >{{ 'CATEGORIES.DEFENSE' | translate }}</option>
                        <option value="SERVICE" (selected)="item.cat[0]=='SERVICE'" >{{ 'CATEGORIES.SERVICE' | translate }}</option>
                        <option value="SPORT" (selected)="item.cat[0]=='SPORT'" >{{ 'CATEGORIES.SPORT' | translate }}</option>
                        <option value="SPORT_MEMO" (selected)="item.cat[0]=='SPORT_MEMO'" >{{ 'CATEGORIES.SPORT_MEMO' | translate }}</option>
                        <option value="STAMP" (selected)="item.cat[0]=='STAMP'" >{{ 'CATEGORIES.STAMP' | translate }}</option>
                        <option value="TICKET" (selected)="item.cat[0]=='TICKET'" >{{ 'CATEGORIES.TICKET' | translate }}</option>
                        <option value="TOY" (selected)="item.cat[0]=='TOY'" >{{ 'CATEGORIES.TOY' | translate }}</option>
                        <option value="TRAVEL" (selected)="item.cat[0]=='TRAVEL'" >{{ 'CATEGORIES.TRAVEL' | translate }}</option>
                        <option value="VIDEO_GAME" (selected)="item.cat[0]=='VIDEO_GAME'" >{{ 'CATEGORIES.VIDEO_GAME' | translate }}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="tag1">
                        <span>{{'LIST_NEW_ITEM.TAG_1' | translate}}</span>
                      </label>
                      <input type="text" [(ngModel)]="tagsArr[0]"  class="form-control" name="tag1" id="tag1" placeholder="{{ 'COMMON.OPTIONAL' | translate }}">
                    </div>
      
                    <div class="form-group">
                      <label for="tag2">
                        <span>{{'LIST_NEW_ITEM.TAG_2' | translate}}</span>
                      </label>
                      <input type="text" [(ngModel)]="tagsArr[1]" class="form-control" name="tag2" id="tag2" placeholder="{{ 'COMMON.OPTIONAL' | translate }}">
                    </div>
      
                    <div class="form-group">
                      <label for="tag3">
                        <span>{{'LIST_NEW_ITEM.TAG_3' | translate}}</span>
                      </label>
                      <input type="text" [(ngModel)]="tagsArr[2]" class="form-control" name="tag3" id="tag3" placeholder="{{ 'COMMON.OPTIONAL' | translate }}">
                    </div>
      
                  </form>
                </div>
              </div>
            </div>
      
            <div class="col-md-6">
              <div class="panel">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                  <form name="item_details2" novalidate>
                    <div class=form-group>
                      <label>
                        <span>{{'LIST_NEW_ITEM.QUANTITY_TO_SELL' | translate}}</span>
                      </label>
                        <div class="input-group ng-scope ng-not-empty ng-dirty ng-valid ng-valid-parse" >  
                            <span class="input-group-btn">    
                                <button type="button" class="btn btn-default"  (click)="decQuantity()">
                                    <i class="fa fa-minus"></i>
                                </button>  
                            </span>
                            <input type="text"  class="form-control spinner-box ng-pristine ng-untouched ng-valid ng-not-empty" [(ngModel)]="data.count" [ngModelOptions]="{standalone: true}">
                            <span class="input-group-btn" >    
                                <button type="button" class="btn btn-default" (click)="incQuantity()">
                                    <i class="fa fa-plus"></i>
                                </button>  
                            </span>
                        </div>                 
                    </div>
      
                    <div class="form-group">
                      <label for="price" >
                        <span>{{'LIST_NEW_ITEM.PRICE' | translate}}</span>
                      </label>
                      <input type="text" [(ngModel)]="data.priceEth" (blur)="inputChange('price', data.price)" (ngModelChange)="inputChange('price', $event)" required class="form-control" name="price" id="price" placeholder="{{ 'COMMON.REQUIRED' | translate }}">
                    </div>
                    <div class="error-block" *ngIf="required.price"  ng-messages="item_details2.price.$error" ng-if="item_details2.price.$touched">
                      <p ng-message="required">{{'ERROR.PRICE_REQUIRED' | translate}}</p>
                    </div>                              
                    <div class="error-block" *ngIf="price_num" ng-messages="item_details2.price.$error" ng-if="item_details2.price.$dirty">
                      <p ng-message when="pattern">{{'ERROR.NUMBERS_REQUIRED' | translate}}</p>
                    </div>                              
      
                    <div class="form-group">
                      <label for="duration">
                        <span>{{'LIST_NEW_ITEM.LISTING_DURATION' | translate}}</span>
                      </label>
                      <div class="radio">
                        <label> 
                          <input type="radio" (click)='duration = 1209600' [checked]="duration == 1209600" value=1209600>
                          <span>{{'LIST_NEW_ITEM.2_WEEKS' | translate}}</span>
                        </label>
                      </div>
                      <div class="radio">
                        <label> 
                          <input type="radio" (click)='duration = 2419200' [checked]="duration == 2419200" value=2419200>
                          <span>{{'LIST_NEW_ITEM.4_WEEKS' | translate}}</span>
                        </label>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      
          
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-filled" [class.collapsed]="!visual.shipping">
                <div class="panel-heading" (click)="visual.shipping = !visual.shipping">
                  <div class="panel-tools">
                    <a class="panel-toggle"><i class="fa" [class.fa-chevron-up]="visual.shipping" [class.fa-chevron-down]="!visual.shipping"></i></a>
                  </div>
                  <span>{{'LIST_NEW_ITEM.SHIPPING_OPTIONS' | translate}}</span>
                </div>
                <div class="panel-body">
                  <form name="item_shipping" novalidate>    
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <div class="checkbox">
                            <label> 
                              <input type="checkbox" (click)="change('shipping_checkbox')" >
                              <span>{{'LIST_NEW_ITEM.SHIPPING_REQUIRED' | translate}}</span> 
                            </label>
                            <p class="help-block"><span>{{'LIST_NEW_ITEM.REQUIRED_SHIPPING_HELP' | translate}}</span></p>
                          </div>
                        </div>
                      </div>
                    </div>  
      
                        
                    <div class="row" 
                    [hidden]="!visual.shipping_checkbox || (data.ship[i-1] && (data.ship[i-1].cost=='' || data.ship[i-1].method=='' || ship_num[i-1]))" 
                    *ngFor="let ship of data.ship; let i = index">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="shipping_method_1">
                            <span>{{'LIST_NEW_ITEM.SHIPPING_METHOD_NAME' | translate}}</span>
                          </label>
                          <input type="text" [(ngModel)]="ship.method" class="form-control" id="shipping_method_1" placeholder="{{ 'COMMON.OPTIONAL' | translate }}" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
      
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="shipping_cost_1">
                            <span>{{'LIST_NEW_ITEM.SHIPPING_COST' | translate}}</span>
                          </label>
                          <input type="text"  [(ngModel)]="ship.cost" (ngModelChange)="inputChange('ship.'+i, $event)"  placeholder="{{ 'COMMON.OPTIONAL' | translate }}" [ngModelOptions]="{standalone: true}"  class="form-control">
                        </div>
                        <div class="error-block" *ngIf="ship_num[i]">
                          <p ng-message when="pattern">{{'ERROR.SHIPPING_NUMBERS_REQUIRED' | translate}}</p>
                        </div>                              
                      </div>
                    </div>        
      
                    
                  </form>    
                </div>
              </div>
            </div>
          </div>
          
      
          
          <div class="row">
            <div class="col-lg-12">
            <div class="panel panel-filled" [class.collapsed]="!visual.escrow">
                <div class="panel-heading" (click)="visual.escrow = !visual.escrow">
                  <div class="panel-tools">
                    <a class="panel-toggle"><i class="fa" [class.fa-chevron-up]="visual.escrow" [class.fa-chevron-down]="!visual.escrow"></i></a>
                  </div>
                  <span>{{'LIST_NEW_ITEM.ESCROW_OPTIONS' | translate}}</span>
                </div>
                <div class="panel-body">
                  <form name="escrow_info" novalidate>
                    <div class="form-group">
                      <label for="escrowAddress">
                        <span>{{'LIST_NEW_ITEM.ESCROW_ADDRESS' | translate}}</span>
                      </label>
                      <input type="text" [(ngModel)]="data.escrow" class="form-control" name="escrowAddress" id="escrowAddress" placeholder="{{ 'COMMON.OPTIONAL' | translate }}">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          
      
          <div class="row">
            <div class="col-lg-12">
              <div class="panel">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                  <form name="submit_section" novalidate>
                    <div class="form-group">
                      <button class="btn btn-warning" type="button" (click)="submit()">
                        <i class="fa fa-check" ng-class="animateListing"></i> 
                        <span class="bold">{{'PENDING.UPDATE' | translate}}</span>
                      </button>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-error" type="button" (click)="cancel()">
                        <i class="fa fa-check" ng-class="animateListing"></i> 
                        <span class="bold">{{'PENDING.CANCEL' | translate}}</span>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        
        <div ng-show="listingStatus" *ngIf="successfullyListed">
            <div class="row">
                <div class="col-lg-12">
    
                    <div class="panel panel-filled panel-c-accent">
                        <div class="panel-heading">
                            <span>{{'PENDING.SUCCESS' | translate}}</span>
                        </div>
                        <div class="panel-body">
                            <span>{{'PENDING.SUCCESS_TEXT' | translate}}</span><br />
                            <h4>
                                <code>{{item_address}}</code> <br />
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>    
    