.status {
    background-color: rgba(255, 255, 255, 0.22);
}
.status-1, .status-14 {
    background-color: rgba(255, 255, 0, 0.2);
}
.status-2 {
    background-color: rgba(38, 255, 45, 0.15);
}
.status-3 {
    background-color: rgba(255, 38, 38, 0.2);
}
.status-12{
    background-color: rgba(103, 70, 13, 2);
}
.status-121{
    background-color: rgba(103, 70, 13, 2);
}
.status-13 {
  background-color: rgba(255, 255, 0, 0.2);
}
.unseen {
    background-color: #30522c;
}
.truncate{
  white-space: normal;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  width: 388px;
}
