<div class="container-fluid">
  <div class="row">
      <div class="col-lg-12">
          <div class="view-header">
              <div class="header-icon" tourAnchor="transactions" >
                  <i class="pe page-header-icon pe-7s-news-paper"></i>
              </div>
              <div class="header-title"  >
                  <h3  > {{'TRANSACTIONS.TITLE' | translate}}</h3>
                  <small> {{'TRANSACTIONS.SUBTITLE' | translate}}</small>
              </div>
          </div>
          <hr>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-12">
          <transactions-list></transactions-list>
      </div>
  </div>
</div>