<div class="container-center animated slideInDown">
  <div class="view-header">
      <div class="header-icon">
          <i class="pe page-header-icon pe-7s-lock"></i>
      </div>
      <div class="header-title" *ngIf="!sent">
          <h3>{{'PASSWORD.TITLE' | translate}}</h3>
          <small>{{'PASSWORD.SUBTITLE' | translate}}
              </small>
      </div>
      <div class="header-title" *ngIf="sent">
          <h3>{{'PASSWORD.2FA_TITLE' | translate}}</h3>
      </div>
  </div>

  <div class="panel panel-filled">
      <div class="panel-body" *ngIf="!sent">
          <form id="walletCreationForm" novalidate (submit)="submit($event)">
              <div class="form-group">
                  <label class="control-label" for="password">{{'PASSWORD.PASSWORD' | translate}}</label>
                  <span class="error" *ngIf="error">{{'PASSWORD.LENGTH_ERROR' | translate}}
                      </span>
                  <input type="password" title="Please enter your password" placeholder="required" required="" value="" name="password" id="password"
                      class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" autofocus="" [(ngModel)]="password"
                      (ngModelChange)="input($event)" [class.wrong]="error">
                      <span class="help-block small">{{'PASSWORD.INSTRUCTIONS' | translate}}</span>
              </div>
              <div class="form-group">
                  <label class="control-label" for="repeatPassword">{{'PASSWORD.REPEAT_PASSWORD' | translate}}</label>
                  <span class="error" *ngIf="repeatError">{{'PASSWORD.REPEAT_ERROR' | translate}}
                      </span>
                  <input type="password" title="Please enter your password" placeholder="required" required="" value="" name="repeatPassword"
                      id="password" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" autofocus=""
                      [(ngModel)]="repeatPassword" (ngModelChange)="inputRepeat($event)" [class.wrong]="repeatError">
              </div>
              <div>
                  <button class="btn btn-accent" type="submit" [disabled]="!button">{{'PASSWORD.CREATE' | translate}}</button>
              </div>
          </form>

      </div>
      <div class="panel-body" *ngIf="sent">
          <form id="walletCreationForm" novalidate (submit)="go($event)">
              <p>{{'PASSWORD.DESC' | translate}}</p>
              
              <div>
                  <button class="btn btn-accent" type="submit" [disabled]="!button">{{'COMMON.OK' | translate}}</button>
              </div>
          </form>

      </div>
  </div>

</div>