.error {
    display: block;
    color: red;
}

.wrong {
    border: 1px solid red;
}

button:disabled {
    opacity: .3;
}

code {
    margin-bottom: 15px;
    // width: 300px;
    text-align: center;
    display: block;
}

.container-center {
    margin: -3% auto 0;
}