.chats .chat {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.14);
  margin-bottom: 5px;
  font-size: 15px;
  position: relative;
  height: 40px;

  .address {
    position: absolute;
    left: 4px;
    font-size: 11px;
    bottom: 0px;
  }
  .date {
    padding-right: 10px;
    float:right;
  }
  .type {
    position: absolute;
    left: 0px;
    top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    line-height: 1;
  }
  .unread {
    display: inline-block;
    float: right;
    background-color: #f6a821;
    width: 22px;
    text-align: center;
    border-radius: 50%;
    &.inactive {
      background-color: rgb(220, 220, 220);
    }
  }
  .chat-name {
    display: inline-block;
  }
}
