<div class="container-center animated slideInDown">
  
  
      <div class="view-header">
          <div class="header-icon">
              <i class="pe page-header-icon pe-7s-unlock"></i>
          </div>
          <div class="header-title">
              <h3>{{'LOGOUT.TITLE' | translate}}</h3>
              <small>{{'LOGOUT.SUBTITLE' | translate}}
                      </small>
          </div>
      </div>
  
      <div class="panel panel-filled">
          <div class="panel-body">
              <form id="loginForm" novalidate>
                  <div class="form-group">
                      <label class="control-label">{{'LOGOUT.CONFIRM' | translate}}</label>
                  </div>
                  <div>
                      <button class="btn btn-accent" (click)="logout($event)">{{'LOGOUT.LOGOUT'  | translate}}</button>
                      <button class="btn btn-default" (click)="cancelLogout($event)">{{'LOGOUT.CANCEL' | translate}}</button>
                  </div>
              </form>
          </div>
      </div>
  
  </div>