.navbar-form {
    width: calc(100% - 755px);
    position: relative;
    input {
        width: 100%;
    }
}

.autocomplete {
    position: absolute;
    height: auto;
    background-color: white;
    width: 100%;
    padding: 10px;
}

.autocomplete_item {
    height: auto;
    border-bottom: 1px solid #949ba2;
    padding: 3px;
    // &.active:last-of-type {
    //     border-bottom: 0px;
    //     padding-bottom: 0px;
    // }
    cursor: pointer;
    &:focus {
        font-weight: bold;
        color: black;
    }
    &:hover {
        font-weight: bold;
        color: black;
    }
}